@font-face {
	font-family:"DrukWide Heavy Web";
	src:url(Druk-Web/Druk-Bold-Web.woff);
}

html{
  /*font-family:sans-serif;*/
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  font-family:"DrukWide Heavy Web";
  margin:0
}
