@font-face {
	font-family:"DrukWide Super Web";
	src:url(DrukWide-Super-Web.woff);
}

html{
  /*font-family:sans-serif;*/
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  font-family:"DrukWide Super Web";
  margin:0
}
